<img src="https://ai.cs.ucf.edu/{{ group_sem }}/{{ file }}/banner.jpg">

<div class="col-12">
    <a class="btn btn-success btn-block" href="https://ai.cs.ucf.edu/signup">
        First Attendance? Sign Up!
    </a>
</div>

<div class="col-12">
    <h1> {{ title }} </h1>
    <hr>
</div>

<div class="row" style="line-height: 2em;">
    <div class="col-10">
        <p>by:</p>{% for author in authors %}
        <div class="card ucfai-inst">
            <img src="https://avatars.githubusercontent.com/{{ author.github }}" />
            <div>
                <p> <strong> {{ author.name }} </strong> </p>
                <a href="https://github.com/{{ author.github }}">
                    @{{ author.github}}
                </a>
            </div>
        </div>{% endfor %}
    </div>
    <div class="col-2">
        {{ date }}
    </div>
</div>