---
name: {{ github }}

github: {{ github }}

ucfai:
  roles:
    - ""
  teams:
    - ""

labs:
  - ""

authors: ['{{ github }}']

role: ""

organizations:

bio: >-

interests:
  - ""

education:
  courses:
    - course: <Degree> in <Field>
      institution: University of Central Florida
      year: ""

social:
  - icon: "github"
    icon_pack: "fab"
    url: "https://github.com/{{ github }}"

user_groups:
  - ""

---