---
title: {{ title }}
categories: ["{{ sem }}", ]
tags: [{% for cat in categories %}"{{ tags }}",{% endfor %}]
authors: [{% for author in authors %}"{{ author }}",{% endfor %}]
description: {{ description }}
group: {{ group }}
sem: {{ sem }}
path: {{ path }}
colab: https://colab.research.google.com/github/ucfai/{{ group }}/blob/master/{{ sem }}/{{ path }}
ipynb: https://github.com/ucfai/{{ group }}/blob/master/{{ sem }}/{{ path }}
---

{{ content }}